.blogHeaderImage {
  width: 100%;
  background-color: $primary3;
  position: relative;
}
.blogHeaderImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.blogHeaderImage:after {
  content: "blog";
  @include fontStyleHeader($headingFontSize1);
  position: absolute;
  left: calc(5% + 20px);
  bottom: -50px;
}
.blogSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
// asideBlog Section
.asideBlog {
  width: calc(30% - 50px);
}
.asideBlogItem1,
.asideBlogItem2 {
  background-color: $white;
  border: $paddingLarge solid $white;
}
.asideBlogItem1 {
  margin-bottom: $paddingLarge;
}
.asideBlogItem1 h4 {
  @include fontStyleHeader($headingFontSize4);
  padding: $padding 0;
}
.asideBlogItem2 h4 {
  @include fontStyleHeader($headingFontSize4);
  padding-bottom: $padding;
}
.asideBlog p,
.asideBlog ul li {
  @include fontStyleMain(32px, 0px);
}
.asideBlog ul {
  padding-left: $paddingLarge;
}

// mainBlog Section
.mainBlog {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: $padding;
}
.mainBlog h3 {
  @include fontStyleHeader($headingFontSize3);
}
.mainBlog p {
  @include fontStyleMain(32px, 0px);
  padding: 10px 0;
}
.mainBlogEntry {
  padding-bottom: 100px;
  border-bottom: 5px solid $primary1;
  background-color: $white;
  border: $paddingLarge solid $white;
}
.divider {
  width: 100%;
  height: 5px;
  margin-bottom: $padding;
  background-color: $primary1;
}
// mainBlogComments
.mainBlogComments,
.mainBlogComments2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $paddingLarge;
  background-color: $white;
}
.mainBlogComments2 {
  margin-top: $padding;
}
.mainBlogItem1,
.mainBlogItem2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.mainBlogItemImage {
  width: 15%;
}
.mainBlogItemText {
  width: 85%;
}

///////////////////////////////////////////////////
///////////////////////////////////////////////////
//mediaQueries
@media (max-width: 1140px) {
  .blogSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .asideBlog,
  .mainBlog {
    width: 100%;
  }
  .asideBlogItem1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .asideBlogItem1Small {
    padding-left: $paddingLarge;
  }
  .asideBlogItem2 {
    margin-bottom: $paddingLarge;
  }
  .contactIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
  }
  .contactText {
    padding: $paddingLarge 0;
    width: 80%;
  }
  .mainBlog {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 660px) {
  .asideBlogItem1 img,
  .mainBlogItem1 img {
    display: none;
  }
  .mainBlogItem1 {
    width: 100%;
  }
  .mainBlogItemImage {
    width: 0;
  }
  .asideBlogItem1Small {
    padding: 0;
  }
  .asideBlogItem1Small h4 {
    padding-top: 0;
  }
}
