//index.html Styling
//-homeSection
//-aboutSection
//-fancyDividerer
//-smallContact
//-photoBlog
//-harperJourney
//-imageGallery
//-mediaQueries

// Home Section
header {
  background-color: $primary3;
}
.homeSection {
  display: flex;
  flex-direction: row;
  height: 28rem;
}
.homeImageContainer {
  margin-left: 50px;
  margin-top: $padding;
  width: calc(35%-50px);
}
.homeImageContainer img {
  box-shadow: 15px 15px $white;
}
.headerHeadline h1 {
  @include fontStyleHeader(6rem);
}
.headerHeadlineContainer {
  width: 65%;
  margin-left: 4.5rem;
  margin-top: 200px;
  position: relative;
}
.headerHeadlineContainer h1::after {
  content: url(../assets/circle-text.png);
  position: absolute;
  top: -35px;
  left: 280px;
}
.headerHeadline {
  display: inline-block;
  position: relative;
}
///////////////////////////////////////////////////
// About Section
.aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.about {
  width: 55%;
  text-align: left;
}
.aboutSection h2 {
  @include fontStyleHeader($headingFontSize2);
  padding-bottom: $padding;
}
.aboutSection p {
  @include fontStyleMain(32px, 0px);
  padding-bottom: $padding;
}

///////////////////////////////////////////////////
// fancyImageDivider Section
.fancyImage {
  width: 100%;
  background-color: $primary4;
}
.imageCover {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

///////////////////////////////////////////////////
// smallContact Section
.smallContactSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.smallContact {
  width: 50%;
}
.smallContactSection i {
  font-size: $headingFontSize4;
}
.smallCircle {
  display: inline-block;
  background-color: $primary3;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  height: 60px;
  width: 60px;
  margin: 10px;
}
.smallContactSection h3 {
  @include fontStyleHeader($headingFontSize3);
  display: inline-block;
  padding-left: $padding;
}
.smallContactSection h3:hover,
.smallContactSection h3:focus {
  text-decoration: underline;
}
.smallContactSection p {
  @include fontStyleMain(32px, 0px);
  padding-left: 100px;
  padding-bottom: $padding;
}

///////////////////////////////////////////////////
// photoBlog Section

.photoBlogSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
}
.photoBlogSectionRowRev {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.photoBlogSection h3 {
  @include fontStyleHeader($headingFontSize3);
  padding-bottom: $padding;
  margin-right: auto;
}
.photoBlogSection p {
  @include fontStyleMain(32px, 0px);
  padding-bottom: $padding;
}
.photoBlogFlexItem,
.photoBlogFlexItem2 {
  width: calc(50% - 30px);
  display: flex;
  flex-direction: column;
}
.photoBlogFlexItem {
  align-items: flex-start;
  justify-content: flex-end;
}
.photoBlogFlexItem h3,
.photoBlogFlexItem p,
.photoBlogFlexItem .btn {
  margin-left: 60px;
}
.photoBlogFlexItem2 {
  align-items: flex-end;
  justify-content: flex-end;
  text-align: left;
}
.photoBlogFlexItem2 h3,
.photoBlogFlexItem2 p,
.photoBlogFlexItem2 .btn {
  margin-right: 60px;
}
.photoBlogimageContainer1 {
  width: 100%;
  height: 100%;
  margin-top: -40px;
  box-shadow: -300px $padding $primary2;
}
.photoBlogimageContainer2 {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  box-shadow: 300px $padding $primary2;
}
.photoBlogimageContainer1 img,
.photoBlogimageContainer2 img {
  box-shadow: 20px 20px $primary2;
}

///////////////////////////////////////////////////
//harperJourney section
.harperJourneySection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.journeyImageContainer {
  margin-right: 60px;
}
.smallJourneyImage {
  width: 35%;
}
.smallJourneyImage img {
  box-shadow: 15px 15px $primary1;
}
.smallJourneyText {
  width: 65%;
}
.smallJourneyText h3 {
  display: inline-block;
  @include fontStyleHeader($headingFontSize2);
  padding-bottom: $padding;
}
.smallJourneyText p {
  @include fontStyleMain(32px, 0px);
  padding-bottom: $padding;
}

///////////////////////////////////////////////////
//imageGallery Section
.imageGallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.imageGalleryItem {
  width: calc(100% / 3 - 40px);
  padding: 20px;
}
///////////////////////////////////////////////////
///////////////////////////////////////////////////
//mediaQueries
@media (max-width: 1140px) {
  //homeSection
  .homeImageContainer {
    margin-left: 10px;
    margin-top: 30px;
    width: calc(35%-10px);
  }
  .headerHeadlineContainer {
    margin-left: 3rem;
  }
  // About Section
  .aboutSection {
    justify-content: center;
  }
  .about {
    width: 100%;
  }
  // photoBlog Section
  .photoBlogSection,
  .photoBlogSectionRowRev {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .photoBlogSection h3,
  .photoBlogSectionRowRev h3 {
    padding: 0;
  }
  .photoBlogFlexItem,
  .photoBlogFlexItem2 {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photoBlogFlexItem2 {
    margin-bottom: 100px;
  }
  .photoBlogimageContainer1,
  .photoBlogimageContainer2 {
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .photoBlogFlexItem2 h3,
  .photoBlogFlexItem2 p {
    margin-left: 60px;
    padding-top: $paddingLarge;
  }
  .photoBlogFlexItem2 button {
    margin-right: 0;
  }
  .photoBlogFlexItem h3 {
    padding-top: $paddingLarge;
    margin-left: 60px;
    margin-right: 60px;
  }
  .photoBlogFlexItem p {
    margin-left: 60px;
    margin-right: 60px;
  }
  .photoBlogFlexItem button {
    margin-left: 0;
  }
}
@media (max-width: 961px) {
  //homeSection
  .homeSection {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 25rem;
  }
  .headerHeadlineContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0;
  }
  .headerHeadline {
    width: 100%;
    text-align: center;
  }
  .headerHeadline h1 {
    font-size: 6rem;
  }
  .headerHeadlineContainer::after {
    position: absolute;
    left: 300px;
  }
  .homeImageContainer {
    display: none;
  }
  //photoblog
  .photoBlogFlexItem .btn,
  .photoBlogFlexItem2 .btn {
    margin: 0;
  }
  //smallContact Section
  .smallContactSection {
    flex-direction: column;
  }
  .smallContact {
    width: 100%;
  }
  //harperJourney
  .smallJourneyImage img {
    box-shadow: 10px 10px $primary1;
  }
  //imageGallery Section
  .imageGalleryItem {
    width: calc(100% / 3 - 15px);
  }
}

@media (max-width: 660px) {
  //homesection
  .headerHeadline h1 {
    margin-left: -30px;
    font-size: 5.3rem;
  }
  .headerHeadlineContainer h1::after {
    left: 240px;
  }
  // photoBlogSection
  .photoBlogimageContainer1 img,
  .photoBlogimageContainer2 img {
    box-shadow: 10px 10px $primary2;
  }
  .photoBlogSection h3,
  .photoBlogSection p,
  .photoBlogFlexItem2 h3,
  .photoBlogFlexItem2 p {
    margin: 0;
    text-align: center;
  }
  //harperJourney Section
  .harperJourneySection {
    @include flexColumnCenterItems();
  }
  .smallJourneyImage {
    display: none;
  }
  .smallJourneyText {
    @include flexColumnCenterItems();
    width: 100%;
  }
}

@media (max-width: 480px) {
  //homeSection
  .homeSection {
    height: 20rem;
    margin-top: -25px;
  }
  .headerHeadline h1 {
    font-size: 3.7rem;
    margin-left: -20px;
  }
  .headerHeadlineContainer h1::after {
    top: -55px;
    left: 175px;
  }
  .homeImageContainer {
    display: none;
  }
  //aboutSection
  .aboutSection,
  .about {
    @include flexColumnCenterItems();
    text-align: center;
  }
  .aboutSection p {
    margin-bottom: $paddingLarge;
  }
  //smallContact Section
  .smallContact {
    display: flex;
    @include flexColumnCenterItems();
  }
  .smallContactSection h3 {
    padding-left: 0;
  }
  .smallContactSection p {
    padding-left: 0;
    padding-bottom: $paddingLarge;
    text-align: center;
  }
  //photoBlog Section
  .photoBlogSection p {
    padding-bottom: $paddingLarge;
  }
  //harperJourney
  .harperJourneySection {
    text-align: center;
  }
  .smallJourneyText p {
    padding-bottom: $paddingLarge;
  }
  //imageGallery
  .imageGallery {
    @include flexColumnCenterItems();
  }
  .imageGalleryItem {
    width: calc(100% - 60px);
  }
  .imageGalleryItem:nth-child(2) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 375px) {
  .headerHeadline h1 {
    font-size: 3.2rem;
    margin-left: -25px;
  }
  .headerHeadlineContainer h1::after {
    top: -55px;
    left: 120px;
  }
}
@media (max-width: 340px) {
  //homeSection
  .homeSection {
    margin-top: -30px;
  }
  .headerHeadline h1 {
    font-size: 3.1rem;
    margin-left: -25px;
  }
  .headerHeadlineContainer h1::after {
    top: -55px;
    left: 90px;
  }
}
