.harperJourneySection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  // margin-top: -40px;
}
.smallJourneyImage {
  width: 35%;
}
.smallJourneyImage img {
  box-shadow: 15px 15px $primary1;
}
.smallJourneyText {
  width: 65%;
}
.smallJourneyText h3 {
  display: inline-block;
  @include fontStyleHeader($headingFontSize2);
  padding-bottom: $paddingBottom;
}
.smallJourneyText p {
  @include fontStyleMain(32px, 0px);
  padding-bottom: $paddingBottom;
}
