@mixin removeSpacing() {
  padding: 0;
  margin: 0;
}
@mixin fontStyleHeader($sizeInput) {
  font-family: $headerFont;
  font-size: $sizeInput;
  color: $black;
  text-transform: uppercase;
  line-height: $lineSpacing;
  letter-spacing: $letterSpacing;
}

@mixin fontStyleMain($lineInput, $letterInput) {
  font-family: $bodyFont;
  font-size: $mainFontSize;
  color: $black;
  letter-spacing: $letterInput;
  line-height: $lineInput;
}
