// navBar

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: $padding 0;
}
.navBar ul {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: center;
}
.navBar ul li {
  display: inline-block;
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 20%;
}
.navBar a {
  @include fontStyleMain(29px, 1px);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.7s;
}
.navBar a:hover {
  color: $white;
}
.navBar a.active {
  color: $white;
}
.navLogo {
  @include fontStyleHeader($headingFontSize3);
}
.navBar ul li:first-child {
  display: none;
}
//////////////////////////////////////
//mediaQueries
@media (max-width: 961px) {
  .navBar ul {
    margin: 0 auto;
    justify-content: space-evenly;
  }
  .navBar ul li:nth-child(4) {
    display: none;
  }
}

@media (max-width: 480px) {
  .navBar ul li {
    display: none;
  }
  .navBar ul li:first-child {
    display: inline-block;
    font-size: $headingFontSize3;
  }
  .navBar ul {
    display: flex;
    text-align: left;
  }
}
