// colours
$accent: #f38d8d;
$primary1: #227284;
$primary2: #68b0c1;
$primary3: #b9dde7;
$primary4: #f6f6f6;
$black: #171717;
$white: #ffffff;

// font styles and sizes
$headerFont: "Oswald", sans-serif;
$bodyFont: "Cabin", sans-serif;

$headingFontSize1: 5rem;
$headingFontSize2: 2.625rem;
$headingFontSize3: 2rem;
$headingFontSize4: 1.5rem;
$mainFontSize: 1.25rem;

$letterSpacing: 0.063rem;
$lineSpacing: 150%;

$padding: 20px;
$paddingLarge: 40px;

//
@mixin fontStyleHeader($sizeInput) {
  font-family: $headerFont;
  font-size: $sizeInput;
  color: $black;
  text-transform: uppercase;
  line-height: $lineSpacing;
  letter-spacing: $letterSpacing;
}

@mixin fontStyleMain($lineInput, $letterInput) {
  font-family: $bodyFont;
  font-size: $mainFontSize;
  color: $black;
  letter-spacing: $letterInput;
  line-height: $lineInput;
}

@mixin flexRowCenterItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flexColumnCenterItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
