// HARPER PROJECT VARIABLES
// colours
$black: rgb(23, 23, 23);
$white: rgb(255, 255, 255);
$accent: rgb(243, 141, 141);
$primary1: rgb(34, 144, 132);
$primary2: rgb(104, 176, 193);
$primary3: rgb(185, 221, 231);
$primary4: rgb(246, 246, 246);

// Font Styles
$headingText: "Oswald", sans-serif;
$bodyText: "Cabin", sans-serif;
// <link rel="preconnect" href="https://fonts.gstatic.com">
// <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@700&display=swap" rel="stylesheet">
