// harper blog
// colours
$accent: #f38d8d;
$primary1: #227284;
$primary2: #68b0c1;
$primary3: #b9dde7;
$primary4: #f6f6f6;
$black: #171717;
$white: #ffffff;

// font styles and sizes
$headerFont: "Oswald", sans-serif;
$bodyFont: "Cabin", sans-serif;
$headingFontSize2: 42px;
$headingFontSize1: 80px;
$headingFontSize3: 32px;
$headingFontSize4: 24px;
$mainFontSize: 20px;
$letterSpacing: 1px;
