@import "./variables";
@import "./setup";
@import "./mixins";
//

// General & Shared Stylings
.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 100px 40px;
}
.wrapperSectionPrimary {
  background-color: $primary4;
}
.wrapperSectionWhite {
  background-color: $white;
}

section {
  margin: 0;
  padding: 0;
}
.btn {
  font-family: $headerFont;
  font-size: $mainFontSize;
  letter-spacing: $letterSpacing;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 30px;
  background-color: $accent;
  border: transparent;
}
.btn a {
  color: $black;
  text-decoration: none;
  transition: 0.7s;
}
.btn a:hover,
.btn a:focus {
  color: $white;
}
// SECTION SPECIFIC STYLING

// Top Navigation Start
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navBar ul {
  background-color: red;
  margin-left: 230px;
  margin-right: 230px;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: center;
}
.navBar ul li {
  display: inline-block;
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 20%;
}
.navBar a {
  text-decoration: none;
  transition: 0.7s;
  @include fontStyleHeader($mainFontSize);
}
.navBar a:hover {
  color: $white;
}
.navLogo {
  @include fontStyleHeader($headingFontSize3);
}
// Home Section
header {
  background-color: $primary2;
}
.home {
  display: flex;
  flex-direction: column;
}
.headerHeadline {
  font-size: 7rem;
  font-family: $headerFont;
  text-transform: uppercase;
}
.imageContainer {
  width: 100%;
  height: 100%;
}
// About Section
.aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.about {
  width: 60%;
  text-align: left;
  // padding-top: 60px;
  // padding-bottom: 60px;
  // padding: 100px 40px;
}
.aboutSection h2 {
  font-family: $headerFont;
  font-size: $headingFontSize2;
  letter-spacing: $letterSpacing;
  text-transform: uppercase;
  background-color: $primary4;
  padding-bottom: 20px;
}
.aboutSection p {
  font-family: $bodyFont;
  font-size: $mainFontSize;
  letter-spacing: $letterSpacing;
  padding-bottom: 20px;
}

//
// fancyImageDivider Section
.fancyImage {
  width: 100%;
  background-color: $primary4;
}
.imageCover {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

//
// smallContact Section
.smallContactSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
.smallContact {
  width: 50%;
}
.smallContactSection i {
  font-size: $headingFontSize4;
}
.smallCircle {
  display: inline-block;
  background-color: $primary3;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  height: 60px;
  width: 60px;
  margin: 10px;
}
.smallContactSection h3 {
  display: inline-block;
  font-family: $headerFont;
  font-size: $headingFontSize3;
  letter-spacing: $letterSpacing;
  text-transform: uppercase;
  padding-left: 20px;
}
.smallContactSection p {
  font-family: $bodyFont;
  font-size: $mainFontSize;
  letter-spacing: $letterSpacing;
  padding-left: 100px;
  padding-bottom: 20px;
}

//
// photoBlog Section

.photoBlogSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: chocolate;
}
.photoBlogSection h3 {
  display: inline-block;
  font-family: $headerFont;
  font-size: $headingFontSize3;
  letter-spacing: $letterSpacing;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.photoBlogSection p {
  font-family: $bodyFont;
  font-size: $mainFontSize;
  letter-spacing: $letterSpacing;
  padding-bottom: 20px;
}
.photoBlogflexItem {
  width: 50%;
  position: relative;
}

.photoBlogimageContainer {
  display: flex;
  flex-direction: flex-end;
  width: 90%;
  object-fit: cover;
  // position: absolute;
  // top: -225px;
}
