@import "./variables";
@import "./setup";
//

// General styling
.wrapper {
  max-width: 1220px;
  padding: 20px;
  margin: 0 auto;
}

// Top Navigation Start
.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: red;
  ul {
    text-decoration: none;
    text-align: center;
    li {
      display: inline-block;
    }
  }
}

// Home Section
.home {
  display: flex;
  flex-direction: column;
  background-color: $primary2;
}
