@import "./variables";
@import "./setup";
@import "./navBarShared";
@import "./footerShared";
@import "./formShared";
@import "./home";
//
//blog styling
@import "./blog";
@import "./contact";

// General & Shared Stylings
.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 100px 40px;
}
.wrapperSides {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 40px;
}
.wrapperSectionPrimary {
  background-color: $primary4;
}
.wrapperSectionWhite {
  background-color: $white;
}
.marginLeft {
  margin-left: 60px;
}
.marginRight {
  margin-right: 60px;
}
section {
  margin: 0;
  padding: 0;
}
.btn,
button {
  font-family: $headerFont;
  font-size: $mainFontSize;
  letter-spacing: $letterSpacing;
  text-transform: uppercase;
  text-align: center;
  padding: $padding 50px;
  background-color: $accent;
  border: transparent;
}
.btn a,
button,
a {
  color: $black;
  text-decoration: none;
  transition: 0.3s;
}
.btn a:hover,
.btn a:focus,
button:hover,
button:focus,
a:hover,
a:focus {
  color: $white;
}

@media (max-width: 660px) {
  .wrapper {
    padding: 100px 20px;
  }
  .wrapperSides {
    padding: 0 20px;
  }
}
