html {
  font-size: 20px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea,
ul,
li {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  margin: 0;
  padding: 0;
}

button,
input {
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
p,
button,
select {
  text-transform: none;
  padding: 0;
  margin: 0;
  font-size: 125%;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 20px 0;
}

.navBar ul {
  margin-left: 15%;
  margin-right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  text-align: center;
}

.navBar ul li {
  display: inline-block;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}

.navBar a {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 1px;
  line-height: 29px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.navBar a:hover {
  color: #ffffff;
}

.navBar a.active {
  color: #ffffff;
}

.navLogo {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
}

.navToggle {
  display: none;
}

@media (max-width: 961px) {
  .navBar ul {
    margin: 0 auto;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .navBar ul li:nth-child(3) {
    display: none;
  }
}

@media (max-width: 480px) {
  header {
    z-index: 10;
  }
  .navToggle {
    display: inline-block;
    font-size: 1.6rem;
    padding-left: 20px;
  }
  .navBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .navSelection {
    background-color: #b9dde7;
    width: 80%;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    left: 40px;
    z-index: 100;
  }
  .navSelectionToggle {
    visibility: visible;
  }
  .navSelectionItem {
    padding-bottom: 40px;
    width: 90%;
  }
}

footer {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  background-color: #171717;
}

legend,
label {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  visibility: hidden;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

input[type="text"],
input[type="email"] {
  padding: 15px;
  height: 60px;
  width: calc(50% - 10px);
  margin-bottom: 20px;
  border: transparent;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
  color: grey;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
  color: grey;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
  color: grey;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
  color: grey;
}

textarea {
  width: 100%;
  height: 350px;
  resize: none;
  padding: 20px;
  margin-bottom: 20px;
  border: transparent;
}

.btnLarge {
  width: 100%;
}

.formShared {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

@media (max-width: 1140px) {
  .formShared {
    width: 100%;
  }
  form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-top: 20px;
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
  }
}

header {
  background-color: #b9dde7;
}

.homeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 28rem;
}

.homeImageContainer {
  margin-left: 50px;
  margin-top: 20px;
  width: calc(35%-50px);
}

.homeImageContainer img {
  -webkit-box-shadow: 15px 15px #ffffff;
  box-shadow: 15px 15px #ffffff;
}

.headerHeadline h1 {
  font-family: "Oswald", sans-serif;
  font-size: 6rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
}

.headerHeadlineContainer {
  width: 65%;
  margin-left: 4.5rem;
  margin-top: 200px;
  position: relative;
}

.headerHeadlineContainer h1::after {
  content: url(../assets/circle-text.png);
  position: absolute;
  top: -35px;
  left: 280px;
}

.headerHeadline {
  display: inline-block;
  position: relative;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about {
  width: 55%;
  text-align: left;
}

.aboutSection h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.1rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.aboutSection p {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding-bottom: 20px;
}

.fancyImage {
  width: 100%;
  background-color: #f6f6f6;
}

.imageCover {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.smallContactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.smallContact {
  width: 50%;
}

.smallContactSection i {
  font-size: 1.2rem;
}

.smallCircle {
  display: inline-block;
  background-color: #b9dde7;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  height: 60px;
  width: 60px;
  margin: 10px;
}

.smallContactSection h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  display: inline-block;
  padding-left: 20px;
}

.smallContactSection h3:hover,
.smallContactSection h3:focus {
  text-decoration: underline;
}

.smallContactSection p {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.photoBlogSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.photoBlogSectionRowRev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.photoBlogSection h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  padding-bottom: 20px;
  margin-right: auto;
}

.photoBlogSection p {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding-bottom: 20px;
}

.photoBlogFlexItem,
.photoBlogFlexItem2 {
  width: calc(50% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.photoBlogFlexItem {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.photoBlogFlexItem h3,
.photoBlogFlexItem p,
.photoBlogFlexItem .btn {
  margin-left: 60px;
}

.photoBlogFlexItem2 {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: left;
}

.photoBlogFlexItem2 h3,
.photoBlogFlexItem2 p,
.photoBlogFlexItem2 .btn {
  margin-right: 60px;
}

.photoBlogimageContainer1 {
  width: 100%;
  height: 100%;
  margin-top: -40px;
  -webkit-box-shadow: -300px 20px #68b0c1;
  box-shadow: -300px 20px #68b0c1;
}

.photoBlogimageContainer2 {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  -webkit-box-shadow: 300px 20px #68b0c1;
  box-shadow: 300px 20px #68b0c1;
}

.photoBlogimageContainer1 img,
.photoBlogimageContainer2 img {
  -webkit-box-shadow: 20px 20px #68b0c1;
  box-shadow: 20px 20px #68b0c1;
}

.harperJourneySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.journeyImageContainer {
  margin-right: 60px;
}

.smallJourneyImage {
  width: 35%;
}

.smallJourneyImage img {
  -webkit-box-shadow: 15px 15px #227284;
  box-shadow: 15px 15px #227284;
}

.smallJourneyText {
  width: 65%;
}

.smallJourneyText h3 {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 2.1rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.smallJourneyText p {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding-bottom: 20px;
}

.imageGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
}

.imageGalleryItem {
  width: calc(100% / 3 - 40px);
  padding: 20px;
}

@media (max-width: 1140px) {
  .homeImageContainer {
    margin-left: 10px;
    margin-top: 30px;
    width: calc(35%-10px);
  }
  .headerHeadlineContainer {
    margin-left: 3rem;
  }
  .aboutSection {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .about {
    width: 100%;
  }
  .photoBlogSection,
  .photoBlogSectionRowRev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .photoBlogSection h3,
  .photoBlogSectionRowRev h3 {
    padding: 0;
  }
  .photoBlogFlexItem,
  .photoBlogFlexItem2 {
    padding: 0;
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .photoBlogFlexItem2 {
    margin-bottom: 100px;
  }
  .photoBlogimageContainer1,
  .photoBlogimageContainer2 {
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .photoBlogFlexItem2 h3,
  .photoBlogFlexItem2 p {
    margin-left: 60px;
    padding-top: 40px;
  }
  .photoBlogFlexItem2 button {
    margin-right: 0;
  }
  .photoBlogFlexItem h3 {
    padding-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
  }
  .photoBlogFlexItem p {
    margin-left: 60px;
    margin-right: 60px;
  }
  .photoBlogFlexItem button {
    margin-left: 0;
  }
}

@media (max-width: 961px) {
  .homeSection {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 25rem;
  }
  .headerHeadlineContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 400px;
    margin: 0;
  }
  .headerHeadline {
    width: 100%;
    text-align: center;
  }
  .headerHeadline h1 {
    font-size: 6rem;
  }
  .headerHeadlineContainer::after {
    position: absolute;
    left: 300px;
  }
  .homeImageContainer {
    display: none;
  }
  .photoBlogFlexItem .btn,
  .photoBlogFlexItem2 .btn {
    margin: 0;
  }
  .smallContactSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .smallContact {
    width: 100%;
  }
  .smallJourneyImage img {
    -webkit-box-shadow: 10px 10px #227284;
    box-shadow: 10px 10px #227284;
  }
  .imageGalleryItem {
    width: calc(100% / 3 - 15px);
  }
}

@media (max-width: 660px) {
  .headerHeadline h1 {
    margin-left: -30px;
    font-size: 5.3rem;
  }
  .headerHeadlineContainer h1::after {
    left: 240px;
  }
  .photoBlogimageContainer1 img,
  .photoBlogimageContainer2 img {
    -webkit-box-shadow: 10px 10px #68b0c1;
    box-shadow: 10px 10px #68b0c1;
  }
  .photoBlogSection h3,
  .photoBlogSection p,
  .photoBlogFlexItem2 h3,
  .photoBlogFlexItem2 p {
    margin: 0;
    text-align: center;
  }
  .harperJourneySection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .smallJourneyImage {
    display: none;
  }
  .smallJourneyText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .homeSection {
    height: 20rem;
    margin-top: -25px;
  }
  .headerHeadline h1 {
    font-size: 3.7rem;
    margin-left: -20px;
  }
  .headerHeadlineContainer h1::after {
    top: -55px;
    left: 175px;
  }
  .homeImageContainer {
    display: none;
  }
  .aboutSection,
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .aboutSection p {
    margin-bottom: 40px;
  }
  .smallContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .smallContactSection h3 {
    padding-left: 0;
  }
  .smallContactSection p {
    padding-left: 0;
    padding-bottom: 40px;
    text-align: center;
  }
  .photoBlogSection p {
    padding-bottom: 40px;
  }
  .harperJourneySection {
    text-align: center;
  }
  .smallJourneyText p {
    padding-bottom: 40px;
  }
  .imageGallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .imageGalleryItem {
    width: calc(100% - 60px);
  }
  .imageGalleryItem:nth-child(2) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 375px) {
  .headerHeadline h1 {
    font-size: 3.2rem;
    margin-left: -25px;
  }
  .headerHeadlineContainer h1::after {
    top: -55px;
    left: 120px;
  }
}

@media (max-width: 340px) {
  .homeSection {
    margin-top: -30px;
  }
  .headerHeadline h1 {
    font-size: 3.1rem;
    margin-left: -25px;
  }
  .headerHeadlineContainer h1::after {
    top: -55px;
    left: 90px;
  }
}

.blogHeaderImage:after {
  content: "blog";
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  position: absolute;
  left: calc(5% + 20px);
  bottom: -50px;
}

.asideBlog {
  width: calc(30% - 50px);
}

.asideBlogItem1,
.asideBlogItem2 {
  background-color: #ffffff;
  border: 40px solid #ffffff;
}

.asideBlogItem1 {
  margin-bottom: 40px;
}

.asideBlogItem1 h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  padding: 20px 0;
}

.asideBlogItem2 h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.asideBlog p,
.asideBlog ul li {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
}

.asideBlog ul {
  padding-left: 40px;
}

.mainBlog {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 20px;
}

.mainBlog h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
}

.mainBlog p {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding: 10px 0;
}

.mainBlogEntry {
  padding-bottom: 100px;
  border-bottom: 5px solid #227284;
  background-color: #ffffff;
  border: 40px solid #ffffff;
}

.divider {
  width: 100%;
  height: 5px;
  margin-bottom: 20px;
  background-color: #227284;
}

.mainBlogComments,
.mainBlogComments2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px;
  background-color: #ffffff;
}

.mainBlogComments2 {
  margin-top: 20px;
}

.mainBlogItem1,
.mainBlogItem2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.mainBlogItemImage {
  width: 15%;
  margin-right: 20px;
}

.mainBlogItemText {
  width: 85%;
}

@media (max-width: 1140px) {
  .blogSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .asideBlog,
  .mainBlog {
    width: 100%;
  }
  .asideBlogItem1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .asideBlogItem1Small {
    padding-left: 40px;
  }
  .asideBlogItem2 {
    margin-bottom: 40px;
  }
  .mainBlog {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 660px) {
  .blogHeaderImage:after {
    left: 20px;
    bottom: -40px;
    font-size: 2.8rem;
  }
  .asideBlogItem1 img,
  .mainBlogItem1 img {
    display: none;
  }
  .mainBlogItem1 {
    width: 100%;
  }
  .mainBlogItemImage {
    width: 0;
  }
  .asideBlogItem1Small {
    padding: 0;
  }
  .asideBlogItem1Small h4 {
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  .blogHeaderImage:after {
    font-size: 2.4rem;
  }
  .asideBlogItem1,
  .asideBlogItem2,
  .mainBlogEntry {
    border: 20px solid #ffffff;
  }
  .asideBlogItem1,
  .mainBlogEntry,
  .mainBlogComments,
  .mainBlogComments2 {
    text-align: center;
  }
  .mainBlogItemText {
    width: 100%;
  }
  .mainBlogComments,
  .mainBlogComments2 {
    padding: 20px;
  }
}

.contactHeaderImage:after {
  content: "contact me";
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  position: absolute;
  left: calc(5% + 20px);
  bottom: -50px;
}

.asideContact {
  width: calc(30% - 50px);
  background-color: #ffffff;
}

.asideContact h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1.6rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  display: inline-block;
  color: #227284;
  padding-right: 20px;
}

.asideContact a,
.asideContact i {
  color: #227284;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contactText a:first-child {
  color: #171717;
}

.asideContact a:hover,
.asideContact a:focus,
.asideContact i:hover,
.asideContact i:focus {
  color: #68b0c1;
}

.contactIcons:first-child {
  padding-left: 20px;
}

.asideContact h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: lowercase;
  padding: 20px;
}

.asideContact p {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding-left: 20px;
}

.asideContact h4:first-child {
  padding-top: 20px;
  padding-left: 0;
}

.asideContact p:last-child {
  padding-bottom: 20px;
}

.mainContact {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 20px;
}

.commentContact {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  position: relative;
}

@media (max-width: 1140px) {
  .contactSection,
  .mainContact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    margin: 0;
    padding: 0;
  }
  .asideContact {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contactIcons {
    margin: 0 auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
  }
  .contactIcons:first-child,
  .asideContact h4:first-child {
    padding: 0;
  }
  .asideContact p {
    padding-left: 0;
    padding-bottom: 5px;
  }
  .contactText {
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .mainContact {
    width: 100%;
    margin: 0;
    margin: 0;
    padding: 0;
  }
  .commentContact {
    margin: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 660px) {
  .contactHeaderImage:after {
    left: 20px;
    bottom: -40px;
    font-size: 2.8rem;
  }
}

@media (max-width: 480px) {
  .contactHeaderImage:after {
    font-size: 2.4rem;
  }
}

.modalOverlay {
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
  z-index: -1;
}

.modalContainer {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90vw;
  height: 45vh;
  position: relative;
}

.closeModelBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 40px;
  font-size: 1.6rem;
  background-color: transparent;
}

.closeModelBtn:hover,
.closeModelBtn:focus {
  color: #f38d8d;
}

.modalVisible {
  visibility: visible;
  z-index: 5;
  -webkit-animation: showModalAnimation 0.5s;
  animation: showModalAnimation 0.5s;
}

.modalImage {
  width: 35%;
}

.modalImage img {
  -webkit-box-shadow: 10px 10px #227284;
  box-shadow: 10px 10px #227284;
}

.modalText {
  width: 65%;
}

.modalText h3 {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 2.1rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.modalText p {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding-bottom: 20px;
}

.modalImageContainer {
  margin-right: 60px;
}

@-webkit-keyframes showModalAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showModalAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 960px) {
  .modalImage {
    display: none;
  }
  .modalText {
    width: 100%;
  }
  .modalContainer {
    height: 60vh;
  }
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 100px 40px;
}

.wrapperSides {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 40px;
}

.wrapperSectionPrimary {
  background-color: #f6f6f6;
}

.wrapperSectionWhite {
  background-color: #ffffff;
}

.displayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section {
  margin: 0;
  padding: 0;
}

.btn,
button {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 50px;
  background-color: #f38d8d;
  border: transparent;
}

.btn {
  width: 200px;
}

.btn a,
button,
a {
  color: #171717;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn a:hover,
.btn a:focus,
button:hover,
button:focus,
a:hover,
a:focus {
  color: #ffffff;
}

.blogHeaderImage,
.contactHeaderImage {
  width: 100%;
  background-color: #b9dde7;
  position: relative;
}

.blogHeaderImage img,
.contactHeaderImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.blogSection,
.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (max-width: 660px) {
  .wrapper {
    padding: 100px 20px;
  }
  .wrapperSides {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding: 100px 10px;
  }
  .wrapperSides {
    padding: 0 10px;
  }
}
