html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 125%;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea,
ul,
li {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  margin: 0;
  padding: 0;
}

button,
input {
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
p,
button,
select {
  text-transform: none;
  padding: 0;
  margin: 0;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

.navBar ul {
  margin-left: 230px;
  margin-right: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  text-align: center;
}

.navBar ul li {
  display: inline-block;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.navBar a {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 1px;
  line-height: 29px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.navBar a:hover {
  color: #ffffff;
}

.navBar a.active {
  color: #ffffff;
}

.navLogo {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
}

footer {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  background-color: #171717;
}

.imageGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.imageGalleryItem {
  width: calc(100% / 3 - 40px);
}

.harperJourneySection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.smallJourneyImage {
  width: 35%;
}

.smallJourneyImage img {
  -webkit-box-shadow: 15px 15px #227284;
          box-shadow: 15px 15px #227284;
}

.smallJourneyText {
  width: 65%;
}

.smallJourneyText h3 {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 2.625rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
  padding-bottom: 20px;
}

.smallJourneyText p {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding-bottom: 20px;
}

.aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  width: 55%;
  text-align: left;
}

.aboutSection h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.625rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
  padding-bottom: 20px;
}

.aboutSection p {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding-bottom: 20px;
}

.fancyImage {
  width: 100%;
  background-color: #f6f6f6;
}

.imageCover {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.blogHeaderImage {
  width: 100%;
  background-color: #b9dde7;
  position: relative;
}

.blogHeaderImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.blogHeaderImage:after {
  content: "blog";
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
  position: absolute;
  left: calc(5% + 20px);
  bottom: -50px;
}

.blogSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.asideBlog {
  width: calc(30% - 50px);
}

.asideBlogItem1,
.asideBlogItem2 {
  background-color: #ffffff;
  border: 40px solid #ffffff;
}

.asideBlogItem1 {
  margin-bottom: 40px;
}

.asideBlogItem1 h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
  padding: 20px 0;
}

.asideBlogItem2 h4 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
  padding-bottom: 20px;
}

.asideBlog p,
.asideBlog ul li {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
}

.asideBlog ul {
  padding-left: 40px;
}

.mainBlog {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 20px;
}

.mainBlog h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
}

.mainBlog p {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding: 10px 0;
}

.mainBlogEntry {
  padding-bottom: 100px;
  border-bottom: 5px solid #227284;
  background-color: #ffffff;
  border: 40px solid #ffffff;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: #227284;
}

.mainBlogComments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 40px;
  background-color: #ffffff;
}

.mainBlogItem1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mainBlogItemImage {
  width: 15%;
}

.mainBlogItemText {
  width: 85%;
}

.commentBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 20px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

input[type="text"],
input[type="email"] {
  padding: 20px;
  height: 32px;
  width: calc(45% - 15px);
  margin-bottom: 20px;
  border: transparent;
}

legend,
label {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  visibility: hidden;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
  padding: 20px;
  margin-bottom: 20px;
  border: transparent;
}

button {
  width: 100%;
}

.contactHeaderImage {
  width: 100%;
  background-color: #b9dde7;
  position: relative;
}

.contactHeaderImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contactHeaderImage:after {
  content: "contact me";
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
  position: absolute;
  left: calc(5% + 20px);
  bottom: -50px;
}

.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.asideContact {
  width: calc(30% - 50px);
  background-color: #ffffff;
  padding: 40px;
}

.asideContact h4 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
  display: inline-block;
  color: #227284;
  padding: 0 15px 20px 15px;
}

.asideContact h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
  text-transform: lowercase;
  padding-bottom: 20px;
}

.asideContact p {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
}

.mainContact {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 20px;
}

.commentContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

input[type="text"],
input[type="email"] {
  padding: 20px;
  height: 32px;
  width: calc(45% - 15px);
  margin-bottom: 20px;
  border: transparent;
}

legend,
label {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  visibility: hidden;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
}

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
}

input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0;
  line-height: 32px;
}

textarea {
  width: 100%;
  height: 300px;
  resize: none;
  padding: 20px;
  margin-bottom: 20px;
  border: transparent;
}

button {
  width: 100%;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 100px 40px;
}

.wrapperSides {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0px 40px;
}

.wrapperSectionPrimary {
  background-color: #f6f6f6;
}

.wrapperSectionWhite {
  background-color: #ffffff;
}

section {
  margin: 0;
  padding: 0;
}

.btn,
button {
  font-family: "Oswald", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.063rem;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 30px;
  background-color: #f38d8d;
  border: transparent;
}

.btn a,
button {
  color: #171717;
  text-decoration: none;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn a:hover,
.btn a:focus,
button:hover,
button:focus {
  color: #ffffff;
}

header {
  background-color: #b9dde7;
}

.homeSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 34rem;
}

.homeImageContainer {
  margin-left: 50px;
  margin-top: 20px;
  width: calc(35%-50px);
}

.homeImageContainer img {
  -webkit-box-shadow: 15px 15px #ffffff;
          box-shadow: 15px 15px #ffffff;
}

.headerHeadline h1 {
  font-family: "Oswald", sans-serif;
  font-size: 7rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
}

.headerHeadlineContainer {
  width: 65%;
  margin-left: 4.5rem;
  margin-top: 200px;
  position: relative;
}

.headerHeadlineContainer::after {
  content: url(../../assets/circle-text.png);
  position: absolute;
  top: -45px;
  right: 230px;
}

.headerHeadline {
  display: inline-block;
  position: relative;
}

.smallContactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.smallContact {
  width: 50%;
}

.smallContactSection i {
  font-size: 1.5rem;
}

.smallCircle {
  display: inline-block;
  background-color: #b9dde7;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  height: 60px;
  width: 60px;
  margin: 10px;
}

.smallContactSection h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
  display: inline-block;
  padding-left: 20px;
}

.smallContactSection p {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding-left: 100px;
  padding-bottom: 20px;
}

.photoBlogSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photoBlogSectionRowRev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photoBlogSection h3 {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  color: #171717;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.063rem;
  padding-bottom: 20px;
}

.photoBlogSection p {
  font-family: "Cabin", sans-serif;
  font-size: 1.25rem;
  color: #171717;
  letter-spacing: 0px;
  line-height: 32px;
  padding-bottom: 20px;
}

.photoBlogflexItem,
.photoBlogflexItem2 {
  width: calc(50% - 30px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.photoBlogflexItem2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: flex-end;
          flex-direction: flex-end;
  text-align: left;
}

.photoBlogPdLeft {
  margin-left: 60px;
  padding-bottom: 20px;
}

.photoBlogimageContainer {
  width: 100%;
  height: 100%;
}
